.App {
  text-align: center;

}

#login-form{
  position: absolute;
  margin: 10% 0 20% 0;
  right: 10%;
  width: 30%;
}
#login-title{
  margin-bottom: 15%;
}

.btn{
  margin: 10% 0 5% 0 ;
}
#logo{
  position: absolute;
  top: 25%;
  left: 1%;
  height: 35%;
  width: 60%;
  z-index: -1;
}
.radio-input{
  margin: 1% 2%;
}

.nav-list{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

nav{
  background-color: rgb(38, 60, 109);
  color: rgb(224, 227, 235);
  padding: 2%;
  margin-bottom: 3%;
}

li{
  color: #618685;
  font-size: 1.5rem;
}