.App {
  text-align: center;
}

#login-form {
  position: absolute;
  margin: 10% 0 20% 0;
  right: 10%;
  width: 30%;
}
#login-title {
  margin-bottom: 15%;
}

.btn {
  margin: 10% 0 5% 0;
}
#logo {
  position: absolute;
  top: 25%;
  left: 1%;
  height: 35%;
  width: 60%;
  z-index: -1;
}
.radio-input {
  margin: 1% 2%;
}

.nav-list,
#log-off {
  width: 40%;
  margin: 0 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

nav {
  /* background-color: rgb(38, 60, 109); */
  background: rgb(167,172,231);
  background: radial-gradient(circle, rgba(167,172,231,1) 0%, rgba(149,198,255,1) 53%, rgba(226,199,247,1) 100%);  background-color: #b0aac0;
  color: rgb(224, 227, 235);
  padding: 2%;
  margin-bottom: 3%;

}

li {
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.5rem;
}

#small-logo {
  position: absolute;
  right: 1%;
  height: 10%;
  width: 15%;
}

.side-menu {
  position: absolute;
  border: 5px #b0aac0 solid;
  border-radius: 8px;
  margin: 10% 2%;
}

.menu-content {
  margin: 10% 10%;
  padding: 10px;
}

.hello-name {
  position: absolute;
  right: 45%;
}
#clock{
  position: absolute;
  display: inline-block;
  left: 3%;
}

.custom_card {
  width: 30rem;
  font-size: x-large;
}

.listGroup {
  background-color: #f7f7f7;
  text-align: right;
}

.list_students {
  position: absolute;
  margin-top: 5%;
}
.table td, .table th{
  vertical-align: middle;
}
td{
  width: 20%;
  background-color: #95c6ff;
  
  /* background-color: #b0aac0; */
  color: black;
  font-size: x-large;
}
th {
  background-color: #a7ace7;
  /* background-color: #614f54; */
}
.list_students h1 {
  text-align: right;
}

.menu-content Button,
.menu-content Button:hover,
.menu-content Button:active,
.menu-content Button:visited,
.menu-content Button:focus {
  background-color: #a7ace7;
  /* background-color: #614f54; */
  border: #614f54;
}

.courses_list{
  position: absolute;
  top: 25%;
  width: 60%;
}

.course-ul{
  padding: 2% 0;
  background-color: #b0aac0;
  border: 5%;
  border-radius: 15px;
  cursor: pointer;
  margin: 2% 0;
  font-weight: bold;
  font-size: x-large;
  box-shadow: 3px 4px 2px 1px #5c5866;
}
.student_list_table{
  position: absolute;
  top: 20%;
  right: 20%;
}

.add_item{
  margin: 0 0 5% 0;
  height: 60px;
  width: 110px;
  background-color:rgb(112, 221, 112);
}

.add_form{
  position: absolute;
  text-align: right;
  top: 25%;
  width: 50%;
  height: 50%;
  left: 25%;
}

.input_fields{
  display: block;
  margin-top: 4%;
  width: 100%;
  height: 10%;
  border: #b0aac0 solid;
  border-radius: 10px;
  padding-right: 2%;
}

.submit{
  height: 60px;
  width: 110px;
}

.internal_content{
  position: absolute;
  width: 50%;
  margin: 0% 25%;
  top: 28%;
}
.delete-button{
  cursor: pointer;
}
.course-content{
  position: absolute;
  top: 30%;
  right: 40%;
}
.course-content td{
  cursor: pointer;
}

.content_div{
  background-color: #b0aac0;
  margin: 2%;
  padding: 2% 3%;
  height: 10%;
  border: #614f54 solid 2px;
}
.content_div a{
  color: #000000;
  font-weight: bold;
}
.content_div ul{
  color: #000000;
  font-weight: bold;
  margin-bottom: 0;
  cursor: pointer;
}
.content_div ul:hover{
  color: rgb(92, 128, 194);
  font-weight: bold;
}
.content_div a:hover{
  color: rgb(92, 128, 194);
  font-weight: bold;
}

.course_header{
  display: inline-block;
  position: absolute;
  right: 5%;
}

h3{
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.add-zone{
  flex-direction: column;
  align-items: center;
  padding: 5% 0%;
  border-width: 2;
  border-radius: 2;
  border-color: #7a7a7a6c;
  border-style: dashed ;
  background-color: #fafafa ;
  color: #008cdd;
  cursor: pointer;
}
.internal_content h4{
  text-align: right;
  margin-bottom: 3%;
}
aside ul{
  text-align: right;
}

#upload{
  margin: 5% 0%;
  font-size: 2rem;
  color: #008cdd;
}
.clickable_courses{
  cursor: pointer;
  color: #000000;
  background-color: #0076fd;
}
.clickable_courses:hover{
  background-color: #1a63b6;
}