@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.App {
  text-align: center;
}
#login-form {
  position: absolute;
  margin: 10% 0 20% 0;
  right: 10%;
  width: 30%;
}
#login-title {
  margin-bottom: 15%;
}

.btn {
  margin: 10% 0 5% 0;
}
#logo {
  position: absolute;
  top: 25%;
  left: 1%;
  height: 35%;
  width: 60%;
  z-index: -1;
}
.radio-input {
  margin: 1% 2%;
}

.nav-list,
#log-off {
  width: 40%;
  margin: 0%;
  display: flex;
  align-items: center;
  list-style: none;
}

nav {
  background: rgb(167, 172, 231);
  background: radial-gradient(
    circle,
    rgba(167, 172, 231, 1) 0%,
    rgba(149, 198, 255, 1) 53%,
    rgba(226, 199, 247, 1) 100%
  );
  background-color: #b0aac0;
  color: rgb(224, 227, 235);
  padding: 2%;
}

li {
  color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.5rem;
}

#small-logo {
  position: absolute;
  left: 1%;
  height: 10%;
  width: 15%;
  border-radius: 15px;
}

.side-menu {
  position: absolute;
  border: 5px #b0aac0 solid;
  top: 28%;
  right: 3%;
  border-radius: 8px;
}

.menu-content {
  margin: 10% 10%;
  padding: 10px;
}

.hello-name {
  position: absolute;
  right: 45%;
}

#clock {
  position: absolute;
  display: inline-block;
  left: 3%;
}

.custom_card {
  width: 30rem;
  font-size: x-large;
  box-shadow: 5px -2px 25px 1px rgb(93, 104, 107);
}

.listGroup {
  background-color: #f7f7f7;
  text-align: right;
}

.list_students {
  position: absolute;
  margin-top: 5%;
  width: 100%;
  padding-bottom: 10%;
}
table{
  box-shadow: rgb(80, 93, 128) 5px -2px 25px 1px;
}
.table td,
.table th {
  vertical-align: middle;
}
td{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  width: 20%;
  background-color: rgb(145, 154, 248);
  color: black;
  font-size: x-large;
}
th {
  background-color: rgb(110, 94, 158);
  color: #fff;
}

.list_students h1 {
  text-align: right;
}

.menu-content Button,
.menu-content Button:hover,
.menu-content Button:active,
.menu-content Button:visited,
.menu-content Button:focus {
  background-color: #a7ace7;
  border: #614f54;
}

.courses_list {
  position: absolute;
  top: 25%;
  width: 60%;
}

.course-ul {
  padding: 2% 0;
  background-color: #b0aac0;
  border: 5%;
  border-radius: 15px;
  cursor: pointer;
  margin: 2% 0;
  font-weight: bold;
  font-size: x-large;
  box-shadow: 3px 4px 2px 1px #5c5866;
}
.student_list_table {
  position: absolute;
  top: 20%;
  right: 20%;
}

.add_item {
  position: absolute;
  left: 6%;
  top: 28%;
  margin: 0 0 5% 0;
  height: 60px;
  width: 110px;
  background-color: rgb(112, 221, 112);
}
.shared_content {
  top: 37%;
}

.add_form {
  position: absolute;
  text-align: right;
  top: 25%;
  width: 50%;
  height: 50%;
  left: 25%;
}

.input_fields {
  display: block;
  margin-top: 4%;
  width: 100%;
  height: 10%;
  border: #b0aac0 solid;
  border-radius: 10px;
  padding-right: 2%;
}

.submit {
  height: 3rem;
  width: 7.5rem;
  background-color: rgb(3, 83, 0);
  margin: 2% 0%;
}

.internal_content {
  position: absolute;
  width: 60%;
  margin: 0% 20%;
  top: 28%;
  padding-bottom: 6%;
}
.delete-button {
  cursor: pointer;
}
.course-content {
  position: absolute;
  top: 30%;
  right: 40%;
}
.course-content td {
  cursor: pointer;
}

.content_div {
  background-color: #b0aac0;
  margin: 2% 0%;
  box-shadow: #a1a1a1 3px -1px 7px 3px;
  border-radius: 10px;
  padding: 2% 3%;
  border: #614f54 solid 2px;
}
.content_div:hover{
  background: rgb(167, 172, 231);
  background: radial-gradient(
    circle,
    rgb(153, 156, 184) 0%,
    rgb(121, 142, 165) 53%,
    #b0aac0 100%
  );
}
.content_div a {
  color: #000000;
  font-weight: bold;
}
.content_div .delete-button {
  position: absolute;
  left: 3%;
  height: 30px;
  width: 40px;
}

.content_div ul {
  color: #000000;
  font-weight: bold;
  margin-bottom: 0;
  cursor: pointer;
}
.content_div ul:hover {
  font-size: 1.1rem;
}
.content_div a:hover {
  color: rgb(92, 128, 194);
  font-weight: bold;
}

.course_header {
  text-align: right;
  font-weight: bold;
  color: #1a63b6;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
}

.class_header {
  text-align: right;
  font-weight: bold;
  font-size: large;
  text-decoration: underline;
  color: #4b7980;
}

h3 {
  color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.add-zone {
  flex-direction: column;
  align-items: center;
  padding: 5% 0%;
  border-width: 2;
  border-radius: 2;
  border-color: #7a7a7a6c;
  border-style: dashed;
  background-color: #fafafa;
  color: #008cdd;
  cursor: pointer;
}
.internal_content h4 {
  text-align: right;
  margin-bottom: 3%;
}
aside ul {
  text-align: right;
}

#upload {
  margin: 2.5% 0%;
  font-size: 1rem;
  color: #9c9c9c;
}
.clickable_courses {
  cursor: pointer;
  color: #000000;
  background-color: #adbac9;
}
.clickable_courses:hover {
  background-color: #7b8897;
}

.title_add_item {
  font-weight: bold;
  right: 0;
  color: #4b7980;
}
.title_add_item h2 {
  text-align: right;
}

.back {
  position: absolute;
  left: 1%;
  top: 15%;
  border-radius: 5px;
  border: none;
  color: white;
  height: 50px;
  width: 100px;
  background-color: #59a5fd;
}
.back:hover {
  background-color: #2573cc;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #aab7c0;
  color: black;
  opacity: 0.9;
  box-shadow: 0px 8px 10px 10px rgb(93, 104, 107);
  text-align: center;
  font-size: 14px;
  padding: 1.3%;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#small_logo_footer {
  position: absolute;
  height: 55px;
  width: 124px;
  left: 2%;
  bottom: 5%;
}

.right-align {
  text-align: right;
  padding: 1% 0%;
}

.description {
  padding: 2% 1% 3% 1%;
  background-color: #ebebeb;
  border-radius: 15px;
}

.edit {
  display: block;
  right: 0;
  height: 3rem;
  width: 7rem;
  margin: 2% 0%;
  background-color: #85bdfd;
}

.save {
  background-color: rgb(3, 83, 0);
}
.shared-content-card {
  border: #000000 solid 1px;
}

.test {
  margin: 1% 3% 2% 0%;
  padding: 2.5%;
  background-color: #7a78786c;
  cursor: pointer;
  box-shadow: #4a4b4b 5px 5px 10px 2px;
  border-radius: 10px;
}

.input-group {
  position: absolute;
  top: 20%;
  right: 25%;
  left: 25%;
  width: 50%;
}

.mainLoginInput{
  font-family: FontAwesome;
  border-color: #3d3c3d;
  height: 40px;
  padding: 0% 2%;
  font-size: 1.3rem;
  margin: 5px 0;
  color: hsl(0, 5%, 44%);
}

.footer-content{
  display: inline;
  margin-left: 1%;
  margin-right:0.3% ;
}

.date-label{
  margin-left: 2%;
}




